/** CSS, anyone know how to make documents accept it? I tried it out using rawgit and <link> but it didn't work... */
body{
    background: rgb(209, 209, 209);
}
h1{
    background: linear-gradient(white, rgb(209, 209, 209));
    text-align: center;
    margin: -8px;
    padding: 1em;
    font-family: nunito;
    font-size:2em;
}
a{
    text-align: center;
    margin: -8px;
    padding: 1em;
    font-family: nunito;
}
p{
    font-family: nunito;
}
hr{
    border: 1.5px solid grey;
    border-radius:3px;
}
a{
    color: blue;
    text-decoration: none;
    transition: all 1s;
    margin: 0;
}
a:hover{
    color:rgb(117, 186, 255);
}
img{
    border-radius: 600000px;
}
